[package]
authors = ["Shokunin Contributors"]
build = "build.rs"
categories = [
    "command-line-utilities",
    "parsing",
    "template-engine",
    "web-programming",
]
description = """
A Content-First Open Source Static Site Generator (SSG) written in Rust.
"""
documentation = "https://shokunin.one/documentation/index.html"
edition = "2021"
exclude = ["/.git/*", "/.github/*", "/.gitignore", "/.vscode/*"]
homepage = "https://shokunin.one"
keywords = ["cli", "generator", "site", "ssg", "static"]
license = "MIT OR Apache-2.0"
name = "ssg"
readme = "README.md"
repository = "https://github.com/sebastienrousseau/shokunin"
rust-version = "1.71.1"
version = "0.0.27"
include = [
    "/CONTRIBUTING.md",
    "/LICENSE-APACHE",
    "/LICENSE-MIT",
    "/benches/**",
    "/build.rs",
    "/Cargo.toml",
    "/content/**",
    "/examples/**",
    "/README.md",
    "/src/**",
    "/template/**",
    "/tests/**",
    "/xtask/**",
]

[workspace]
members = ["xtask"]

[[bench]]
name = "bench"
harness = false
path = "benches/bench.rs"

[dependencies]
clap = "4.5.4"
comrak = "0.22.0"
dtt = "0.0.5"
env_logger = "0.11.3"
lazy_static = "1.4.0"
log = {version="0.4.21", features = ["std"] }
minify-html = "0.15.0"
pdf_composer = "0.2.6"
pulldown-cmark = "0.10.2"
quick-xml = "0.31.0"
regex = "1.10.4"
reqwest = { version = "0.12.3", features = ["blocking", "json"] }
rlg = "0.0.3"
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.115"
tempfile = "3.10.1"
toml = "0.8.12"
uuid = { version = "1.8.0", features = ["v4"] }
vrd = "0.0.6"
yaml-rust = "0.4.5"

# Unix platforms use OpenSSL for now to provide SSL functionality
[target.'cfg(all(unix, not(target_os = "macos")))'.dependencies]
openssl = { version = "0.10.64", features = ["vendored"] }

[dev-dependencies]
assert_cmd = "2.0.14"
criterion = "0.5.1"

[lib]
crate-type = ["lib"]
name = "ssg"
path = "src/lib.rs"

[features]
default = []

[package.metadata.docs.rs]
all-features = true

# Linting config
[lints.rust]

## Forbid
missing_debug_implementations = "forbid"
missing_docs = "warn"
non_ascii_idents = "forbid"
unreachable_pub = "forbid"

## Deny
# dead_code = "deny"
deprecated_in_future = "deny"
ellipsis_inclusive_range_patterns = "deny"
explicit_outlives_requirements = "deny"
future_incompatible = "deny"
keyword_idents = "deny"
macro_use_extern_crate = "deny"
meta_variable_misuse = "deny"
missing_fragment_specifier = "deny"
noop_method_call = "deny"
pointer_structural_match = "deny"
rust_2018_idioms = "deny"
rust_2021_compatibility = "deny"
single_use_lifetimes = "deny"
trivial_casts = "deny"
trivial_numeric_casts = "deny"
unused = "deny"
unused_features = "deny"
unused_import_braces = "deny"
unused_labels = "deny"
unused_lifetimes = "deny"
unused_macro_rules = "deny"
unused_qualifications = "deny"
variant_size_differences = "deny"

[profile.dev]
codegen-units = 256
debug = true
debug-assertions = true
incremental = true
lto = false
opt-level = 0
overflow-checks = true
panic = 'unwind'
rpath = false
strip = false

[profile.release]
codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = true
opt-level = "s"
overflow-checks = false
panic = "abort"
rpath = false
strip = "symbols"

[profile.test]
codegen-units = 256
debug = true
debug-assertions = true
incremental = true
lto = false
opt-level = 0
overflow-checks = true
rpath = false
strip = false
