[package]
authors = ["Shokunin Contributors"]
build = "build.rs"
categories = [
    "command-line-utilities",
    "parsing",
    "template-engine",
    "web-programming",
]
description = """
A Content-First Open Source Static Site Generator (SSG) written in Rust.
"""
documentation = "https://shokunin.one/documentation/index.html"
edition = "2021"
exclude = ["/.git/*", "/.github/*", "/.gitignore", "/.vscode/*"]
homepage = "https://shokunin.one"
keywords = ["cli", "generator", "site", "ssg", "static"]
license = "MIT OR Apache-2.0"
name = "ssg"
readme = "README.md"
repository = "https://github.com/sebastienrousseau/shokunin"
rust-version = "1.71.1"
version = "0.0.17"
include = [
    "/CONTRIBUTING.md",
    "/LICENSE-APACHE",
    "/LICENSE-MIT",
    "/benches/**",
    "/build.rs",
    "/Cargo.toml",
    "/content/**",
    "/examples/**",
    "/README.md",
    "/src/**",
    "/template/**",
    "/tests/**",
    "/xtask/**",
]

[workspace]
members = ["xtask"]

[[bench]]
name = "bench"
harness = false
path = "benches/bench.rs"

[dependencies]
clap = "4.4.2"
comrak = "0.18.0"
dtt = "0.0.4"
log = {version="0.4.20", features = ["std"] }
minify-html = "0.11.1"
# openssl = { version = "0.10.57", features = ["vendored"] }
quick-xml = "0.30.0"
regex = "1.9.5"
reqwest = { version = "0.11.20", features = ["blocking", "json"] }
serde = { version = "1.0.188", features = ["derive"] }
serde_json = "1.0.105"
serde_yaml = "0.9.25"
tempfile = "3.8.0"
toml = "0.7.7"
yaml-rust = "0.4.5"
vrd = "0.0.4"

[dev-dependencies]
assert_cmd = "2.0.12"
criterion = "0.5.1"

[lib]
crate-type = ["lib"]
name = "ssg"
path = "src/lib.rs"

[features]
default = []

[package.metadata.docs.rs]
all-features = true

[profile.dev]
codegen-units = 256
debug = true
debug-assertions = true
incremental = true
lto = false
opt-level = 0
overflow-checks = true
panic = 'unwind'
rpath = false
strip = false

[profile.release]
codegen-units = 1        # Compile crates one after another so the compiler can optimize better
debug = false            # Disable debug information
debug-assertions = false # Disable debug assertions
incremental = false      # Disable incremental compilation
lto = true               # Enables link to optimizations
opt-level = "s"          # Optimize for binary size
overflow-checks = false  # Disable overflow checks
panic = "abort"          # Strip expensive panic clean-up logic
rpath = false            # Disable rpath
strip = "symbols"        # Automatically strip symbols from the binary.

[profile.test]
codegen-units = 256
debug = true
debug-assertions = true
incremental = true
lto = false
opt-level = 0
overflow-checks = true
rpath = false
strip = false
