[package]
name = "xtask"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]

xtaskops = "0.4.2"
anyhow = "1.0.74"

[[bin]]
name = "xtask"
path = "src/main.rs"
